<section class="portfolio-trusted">
  <div class="portfolio-container">
    <div class="trusted-header">
      <p>Trusted by Tech Leaders From Global Companies</p>
    </div>
    <div class="company-logos">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Amazon_Web_Services_Logo.svg" alt="Amazon Web Services" class="company-logo">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/ISB_Logo.svg/1200px-ISB_Logo.svg.png" alt="ISB" class="company-logo">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Microsoft_logo.svg/1200px-Microsoft_logo.svg.png" alt="Microsoft" class="company-logo">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png" alt="Google" class="company-logo">
    </div>
  </div>
</section>
