<footer class="portfolio-footer">
  <div class="portfolio-container">
    <div class="footer-content">
      <div class="footer-section">
        <h4>About</h4>
        <p>Tech Strategy Leader @ AWS. ISB CTO Scholar. Founder of FullstackMaster.net. Helping developers become architects.</p>
      </div>
      
      <div class="footer-section">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="/posts/">Blog Posts</a></li>
          <li><a href="https://www.fullstackmaster.net">Training</a></li>
          <li><a href="https://rupesh-tiwari.medium.com/">Medium</a></li>
          <li><a href="/categories/">Categories</a></li>
        </ul>
      </div>
      
      <div class="footer-section">
        <h4>Connect</h4>
        <ul>
          <li><a href="https://linkedin.com/in/rupesh-tiwari" target="_blank">LinkedIn</a></li>
          <li><a href="https://github.com/rupeshtiwari" target="_blank">GitHub</a></li>
          <li><a href="https://twitter.com/rupeshtiwari_co" target="_blank">Twitter</a></li>
          <li><a href="https://www.youtube.com/c/rupeshtiwari" target="_blank">YouTube</a></li>
        </ul>
      </div>
      
      <div class="footer-section">
        <h4>Resources</h4>
        <ul>
          <li><a href="/tags/">Tags</a></li>
          <li><a href="https://www.fullstackmaster.net">FullStack Master</a></li>
          <li><a href="https://dev.to/rupeshtiwari" target="_blank">Dev.to</a></li>
          <li><a href="mailto:rupesh.tiwari.info@gmail.com">Email</a></li>
        </ul>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p>&copy; 2025 Rupesh Tiwari. All rights reserved.</p>
      <p>Helping engineers master system design and crack FAANG interviews</p>
    </div>
  </div>
</footer>
