td {
  border: 1px solid #b6b6b6;
}
th {
  border: 1px solid #b6b6b6;
  background-color: #eee;
  color: #000;
}
tr:nth-child(even) {
  background-color: #fafafa;
}
tr:hover {
  background-color: #fafafa;
}
table {
  border-collapse: collapse;
  border: 1px solid #b6b6b6;
  border-radius: 8px;
  -moz-border-radius: 8px;
}
